{% include /header-home.html %}

{% include /top-line.html %}

	<div class="pattern pattern-cat-header">
		<div class="cat-header header-about">
			<div class="cat-header-block">
				<h1>О сайте Платформа</h1>
			</div>
		</div>
	</div>

	<div class="article-content">
		<div class="container-fluid">
			<div class="row">

				<div class="col-md-8">

					<article class="main-article">

						<div class="article-body">

<p>На сайте раскрыт подход по формирование устойчивого интереса детей дошкольного
возраста к культурному наследию народов проживающих на территории Российской Федерации.
Воспитанию культуры мира и межнационального согласия у детей дошкольного возраста, 
рассматривается актуальность темы нравственного и патриотического воспитания
дошкольников.</p>
<p>Описывается педагогический опыт, который, раскрывает содержание работы по данной 
теме, приводятся примеры организационно-педагогической работа с педагогами, 
родителями, организационно-образовательной работы с детьми, организационно-просветительская
работа с социальными партнерами.</p>

<p>Выстроена форма взаимодействия с органами муниципальной власти и общественными
организациями:</p>
<ul>	 
<li>Начальник управления по вопросам внутренней политики администрации Костромской
области-Ерин Максим Александрович</li>
<li>Заместитель главы Администрации города Костромы- Воронина Ольга Владимировна</li>
<li>Костромской дом национальностей</li>
<li>Всероссийским благотворительным фондом «Достойная память»
Генеральный директор-Анжела Илларионовна Скрипкараш.</li>
<li>Костромская городская общественная организация «Ассамблея народов Костромы» председатель
Бабаев Камран Насруллаевич</li>
<li>КООО «Многонациональная Кострома» председатель Бабаев Камран Насруллаевич</li>
<li>Костромская региональная общественная организация «Молдавская община» заместитель
председателя Курилова Зоя Васильевна</li>
<li>Костромская городская общественная организация «Азербайджанский культурный центр»,
руководитель: Саттарова Эльза Гаджикерим Кызы.</li>
<li>Костромская городская общественная организация «Татарский культурный центр»</li>
<li>Областное государственное бюджетное профессиональное образовательное учреждение «Костромской
политехнический колледж» Директор: Смирнов Вячеслав Анатольевич</li>
<li>Федеральное государственное бюджетное образовательное учреждение высшего 
образования "Костромская государственная сельскохозяйственная академия".
Ректор Зудин Сергей Юрьевич</li>
<li>Заведующий отделом культуры туризма, спорта и молодежи администрации Красносельского муниципального
района, Елена Александровна Лебедева, Главный специалист по культуре отдела культуры, туризма,
спорта и молодежи администрации Красносельского муниципального района Светлана Владимировна
Вохмянина.,</li>
<li>Туристический комплекс Русиново, Анна Алексеевна Шабалдина.</li>
<li>Военно-исторический отдел Костромского историко-архитектурного и художественного музея-заповедника. 
Матюшкин Андрей Васильевич.</li>
<li>Муниципальное бюджетное общеобразовательное учреждение города Костромы "Средняя общеобразовательная
школа № 30".
Заместитель директора по воспитательной работе Котанова Мария Юрьевна.</li>
<li>Комитет по делам молодежи Костромской области, Костромской госуниверситет, ОГБУ 
«Молодежный центр «Кострома».</li>
</ul>
<p style="margin-left: 6px;">Руководитель и ответственный за реализацию образовательных проектов ДОУ :
Васильченко Инна Викторовна.</p>
<img src="images/events/2.jpg" alt="Васильченко И.В">
							

						</div>

					</article>

				</div>

				<div class="col-md-4">

{% include /main-aside.html %}

				</div>

			</div>
		</div>
	</div>

{% include /footer.html %}